In [1]:
!conda activate DS807

In [2]:
import data_loader as dl

IndentationError: expected an indented block (data_loader.py, line 38)

In [3]:
df = dl.load_1d_grays()

NameError: name 'dl' is not defined

In [4]:
df

,index,string,CC,D,Y,gray_value,filename
0,1,1836,0,3,6,"[166.0, 167.0, 166.0, 162.0, 164.0, 164.0, 166...",1.jpg
1,2,1836,0,3,6,"[169.0, 168.0, 169.0, 170.0, 166.0, 164.0, 164...",2.jpg
2,3,1840,0,4,0,"[167.0, 169.0, 169.0, 166.0, 165.0, 168.0, 169...",3.jpg
3,4,1840,0,4,0,"[167.0, 165.0, 165.0, 165.0, 163.0, 161.0, 162...",4.jpg
4,5,1823,0,2,3,"[62.0, 45.0, 45.0, 37.0, 40.0, 33.0, 46.0, 64....",5.jpg
...,...,...,...,...,...,...,...
11995,11996,1808,0,0,8,"[88.0, 62.0, 60.0, 68.0, 61.0, 101.0, 132.0, 1...",11996.jpg
11996,11997,1809,0,0,9,"[173.0, 171.0, 173.0, 175.0, 174.0, 174.0, 175...",11997.jpg
11997,11998,1840,0,4,0,"[189.0, 189.0, 189.0, 189.0, 189.0, 187.0, 186...",11998.jpg
11998,11999,1840,0,4,0,"[191.0, 192.0, 192.0, 192.0, 193.0, 191.0, 191...",11999.jpg
11999,12000,1810,0,1,0,"[175.0, 177.0, 177.0, 175.0, 174.0, 171.0, 169...",12000.jpg